<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Agentum</title>
</h:head>
<h:body>

	<h:form>
		<h:panelGrid columns="5">

			<h:outputLabel value="Media:" />
			<p:selectOneButton value="#{argentumBean.nomeMedia}">
				<f:selectItem itemLabel="Simples" itemValue="MediaMovelSimples" />
				<f:selectItem itemLabel="Poderada" itemValue="MediaMovelPonderada" />
			</p:selectOneButton>

			<h:outputLabel value="Indicador Base:" />
			<p:selectOneButton value="#{argentumBean.nomeIndicadorBase}">
				<f:selectItem itemLabel="Abertura" itemValue="IndicadorAbertura" />
				<f:selectItem itemLabel="Feachamento"
					itemValue="IndicadorFechamento" />
			</p:selectOneButton>

			<p:commandButton value="Gera Gráfico"
				action="#{argentumBean.geraGrafico}" update=":grafico" />
		
		</h:panelGrid>
	</h:form>

	<p:chart id="grafico" type="line" model="#{argentumBean.modeloGrafico}" />
	<h:form>
		<p:dataTable var="negociacao" value="#{argentumBean.negociacoes}"
			paginator="true" rows="15">
			<p:column sortBy="#{negociacao.preco}" headerText="Preço">
				<h:outputText value="#{negociacao.preco}"></h:outputText>
			</p:column>
			<p:column sortBy="#{negociacao.quantidade}" headerText="Quantidade">
				<h:outputText value="#{negociacao.quantidade}"></h:outputText>
			</p:column>
			<p:column sortBy="#{negociacao.volume}" headerText="Volume">
				<h:outputText value="#{negociacao.volume}"></h:outputText>
			</p:column>
			<p:column sortBy="#{negociacao.data}" headerText="Data">
				<h:outputText value="#{negociacao.data}"></h:outputText>
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>