<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Argentum</title>
</h:head>
<h:body>
	<h:outputText value="#{olaMundoBean.mensagem}" />
	<h:outputText value="Seu nome é:" />
	<h:form>
		<h:inputText value="#{olaMundoBean.nome}" />
		<h:commandButton action="#{olaMundoBean.botaoClicado}" value="Enviar" />
	</h:form>
</h:body>
</html>